#instructions {
  margin: 8px;
}

/* Give board a position value so that overlay is positioned relative to it. */
#board {
  position: relative;
}

#grid {
  display: grid;
  grid-auto-rows: 12px;
  grid-auto-columns: 12px;
}

.grid_cell_empty {
  background-color: silver;
  border: 1px solid lightgray;
}

.grid_cell_filled {
  background-color: gray;
  border: 1px solid lightgray;
}

#overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  display: grid;
  grid-auto-rows: 12px;
  grid-auto-columns: 12px;
  opacity: 0.4;
}

.overlay_cell_filled {
  background-color: teal;
  border: 1px solid lightgray;
}

#submit {
  z-index: 2;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100vw;
  text-align: center;
  font-size: 1.5rem;
  color: dodgerblue;
  background-color: rgba(235, 250, 250, 0.7);
  border: 4px solid rgba(173, 216, 230, 0.7);
}

body {
  /* Remove the margin so that the submit button is always flush with the
   * viewport. */
  margin: 0;
  /* The below is needed in order to get the submit button to stick to the left
   * side of the viewport. */
  display: inline-block;
}
